<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="flex">
				<div class="footer__item">
					<div class="footer__title">
						меню
					</div>
					<ul class="footer__menu">
						<li><a href="#">О компании</a></li>
						<li><a href="#">Акции</a></li>
						<li><a href="#">Доставка</a></li>
						<li><a href="#">Строителям</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="footer__item">
					<div class="footer__title">
						Режим работы
					</div>
					<div class="footer__info">
						<div class="footer-icon footer-icon_time">пн-сб: 8.30-19.00</div>
						<div>вс: 9.00-16.00</div>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__title">
						Наши адреса
					</div>
					<div class="footer__info">
						<div class="footer__adress">
							ул. Автозаводская 7а <br>
							(строительный рынок “Садовод”)
						</div>
						<div class="footer__adress">1 улица, офис 2, магазин РумЛес</div>
						<div class="footer__adress">
							Строительный рынок РумЛес, <br>
							д.Пирогово, ул. Торговая,18
						</div>
					</div>
				</div>
				<div class="footer__item">
					<div class="footer__title">
						Контакты
					</div>
					<div class="footer__info">
						<div class="footer__contacts">
							<div>Звонок абсолютно бесплатный</div>
							<div class="footer__tel footer-icon footer-icon_phone">
								8 (3412) 47-18-67
							</div>
						</div>
						<div class="footer__contacts">
							<div>Наши специалисты помогут вам!</div>
							<div class="footer__tel">8 (922) 517-42-99</div>
							<div class="footer__small">звонки принимаются с 9:00 до 21:00 (МСК)</div>
						</div>
						<div class="footer__contacts footer__post footer-icon footer-icon_post">
							471867@bk.ru
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="flex">
				<div class="footer-bottom__item">Компания “РумЛес”</div>
				<div class="footer-bottom__item">
					<a href="#">Политики конфиденциальности</a>
				</div>
				<div class="footer-bottom__item">
					Разработано студией WebKing
				</div>
			</div>
		</div>
	</div>
</footer>