<header class="header">
	<div class="mobile-panel visible-sm clearfix">
		<div class="container">
			<div class="row">
				<div class="mobile-panel__item">
					<div class="mobile-panel__btn dropdown-btn">Меню</div>
					<div class="mobile-panel__content">
						<ul class="mobile-panel__menu">
							<li><a href="#">О компании</a></li>
							<li>
								<a href="#">Каталог</a>
							</li>
							<li>
								<a href="#" class="active">
									Акции
								</a>
							</li>
							<li><a href="#">Доставка</a></li>
							<li><a href="#">Строителям</a></li>
							<li><a href="#">Прайс</a></li>
							<li><a href="#">Контакты</a></li>
						</ul>
					</div>
				</div>
				<div class="mobile-panel__item">
					<div class="mobile-panel__btn dropdown-btn">
						<i class="fa fa-search"></i>
					</div>
					<div class="mobile-panel__content">
						<div class="search">
							<form action="">
								<input type="text" class="search__input" placeholder="Введите название товара для поиска">
								<button type="submit" class="search__btn"></button>
							</form>
						</div>
					</div>
				</div>
				<div class="mobile-panel__item">
					<div class="mobile-panel__btn dropdown-btn">
						<i class="fa fa-phone"></i>
					</div>
					<div class="mobile-panel__content">
						<div class="telephone">
							<div class="telephone__item">
								+ 7 (3412) <span>47 18 67</span>
							</div>
							<a href="#" class="btn btn-yellow">доставка по звонку</a>
						</div>
					</div>
				</div>
				<div class="mobile-panel__item">
					<div class="mobile-panel__btn">
						<i class="fa fa-shopping-cart">
							<span class="cart-count">3</span>
						</i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="top-panel">
		<div class="container">
			<div class="header-wrapp">
				<div class="logo">
					<a href="#">
						<img src="img/logo.png" alt="">
					</a>
				</div>
				<div class="flex block-sm">
					<div class="search hidden-sm">
						<form action="">
							<input type="text" class="search__input" placeholder="Введите название товара для поиска">
							<button type="submit" class="search__btn"></button>
						</form>
					</div>
					<div class="telephone hidden-sm">
						<div class="telephone__item">
							+ 7 (3412) <span>47 18 67</span>
						</div>
						<a href="#" class="btn btn-yellow">доставка по звонку</a>
					</div>
					<div class="info">					
						<div>Режим работы:</div>
						<div><b>пн-сб: 8.30-19.00</b></div>
						<div>вс: 9.00-16.00</div>
					</div>
					<div class="header-cart hidden-sm">
						<a href="#">
							<div class="header-cart__icon middle">
								<span class="cart-icon middle"></span>
								<span class="cart-count">3</span>
							</div>
							<div class="header-cart__info middle">
								<div>корзина</div>
								<div class="header-cart__price">748, 00 Р</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="nav hidden-sm">
		<div class="container">
			<ul class="nav__menu clearfix">
				<li><a href="#">О компании</a></li>
				<li>
					<a href="#" class="active">
						<span class="sale-item">Акции</span>
					</a>
				</li>
				<li><a href="#">Доставка</a></li>
				<li><a href="#">Строителям</a></li>
				<li><a href="#">Прайс</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</div>
	</nav>
</header>