<div class="sidebar hidden-sm">
  <ul class="sidebar-menu">
   <li><a href="#" class="current">Спец предложения</a></li>
   <li><a href="#">Пиломатериал</a></li>
   <li><a href="#">Евровагонка</a></li>
   <li><a href="#">Имитация бруса</a></li>
   <li><a href="#">Блок-хаус</a></li>
   <li><a href="#">Доска пола шпунтованная</a></li>
   <li><a href="#">Плиты QUICKDECK</a></li>
   <li><a href="#">Фанера, OSB-3</a></li>
   <li><a href="#">Все для лестниц</a></li>
   <li><a href="#">Мебельный шит. подоконник</a></li>
   <li><a href="#">Двери</a></li>
   <li><a href="#">Окна</a></li>
   <li><a href="#">Погонажный ищделия из хвои</a></li>
   <li><a href="#">Погонажные изделия из липы</a></li>
   <li><a href="#">Джут, пакля</a></li>
   <li><a href="#">Пароизоляция и гидроизоляция</a></li>
   <li><a href="#">Утеплитель</a></li>
   <li><a href="#">Евродрова</a></li>
   <li><a href="#">Антисептики, лаки герметики</a></li>
   <li><a href="#">Крепеж</a></li>
  </ul>
  <div class="sidebar__btn">
     <a href="#" class="btn btn-yellow btn-middle btn-full">обратный звонок</a>
  </div>
  <div class="sidebar__phone">
     +7 (3412) 47-18-67
  </div>
</div>